@model List<Hakuna.Models.Membership>

@{
    ViewBag.Title = "List of Membership Types";
    Layout = "_Layout";
}
@Html.Partial("_SuccessFlash")
@Html.Partial("_FailFlash")
<div class="container">
    <div class="d-flex justify-content-between">
        <h1>Membership types List</h1>
        <a href='@Url.Action("Add", "Membership")' class="btn btn-primary btn-info "> Add new Membership type </a>
    </div>
    <hr>
    <div class="card-list col-md-6 col-sm-12" >
        @foreach(var item in Model)
        {
            <div class="card movie-card mb-3" style="text-align:center;">
                <div class="card-header" >
                    <h2 > @item.Title @*@Html.ActionLink(item.Title ?? "____", "List", new {id=item.Id})*@</h2>
                </div>
                <div class="card-body">
                    <div >Discount Rate: @item.DiscountRate</div>
                    <div >Sign up Fees: @item.SignUpFee</div>
                    <div >Duration in month: @item.DurationInMonth</div>
                </div> 
            </div>
        }
    </div>
</div>
