@model List<Hakuna.Models.Movie>
    @Html.Partial("_SuccessFlash")
    @Html.Partial("_FailFlash")
    <div class="container">
        <h1>Movies List</h1>
        <hr>
        <div class="card-list col-md-6 col-sm-12" >
            @foreach(var item in Model)
            {
            <div class="card movie-card mb-3" style="text-align:center;">
                <div class="card-header" >
                    <h2 >@Html.ActionLink(item.Name ?? "____", "Details", new {id=item.Id})</h2>
                </div>
                
                <div>
                    @item.ReleaseDate
                </div>
                
                <div >
                    <img  class="col-12 align-content-center" src="@Url.Action("GetImage", "Movie", new { imageName = @item.Name  + ".jpg" })" alt="My Image">
                
                </div>
            </div>
            }
    </div>
</div>
