@model Customer
@{
    ViewBag.detailsHeadline = "Customer Details";
    Layout = "_DetailsLayout";
}

<div>
    <lablel>Name: </lablel>
    <text>@Model.Name</text>
</div>
<div>
    <lablel>Last Name: </lablel>
    <text>@Model.LastName</text>
</div>
<div>
    <lablel>Age: </lablel>
    <text>@Model.Age</text>
</div>

<div>
    <lablel>Membership Title: </lablel>
    <text>@Html.ActionLink(Model.Membershiptype?.Title ?? "____","Details","Membership", new {id=Model.Membershiptype?.Id})</text>
    
</div>
<div>
    
    <a class="btn btn-warning" href='@Url.ActionLink("SeeMovies","Customer",new{customerId=Model.Id})'>See Movies</a>
</div>