@model Hakuna.Models.Customer

    @Html.Partial("_SuccessFlash")
    @Html.Partial("_FailFlash")
<div class="container">
    
    <div class="d-flex justify-content-between">
        <h1>Movies List</h1>
        <a class="btn btn-info" href='@Url.ActionLink("BuyMovie","Customer",new{customerId=Model.Id})'>Buy Movies</a>
        
        </div>
        <hr>
        <div class="card-list col-md-4 col-sm-12">
            @foreach (var item in Model.Movies)
            {
                <div class="card movie-card mb-3" style="text-align:center;">
                    <div class="card-header">
                        <h2 >@Html.ActionLink(item.Name ?? "____", "Details", "Movie", new { id = item.Id })</h2>
                    </div>

                    <div>
                        @item.ReleaseDate
                    </div>

                    <div >
                        <img class="col-12 align-content-center" src="@Url.Action("GetImage", "Movie", new { imageName = @item.Name + ".jpg" })" alt="My Image">

                    </div>
                </div>
            }
        </div>
</div>
